* {
    box-sizing: border-box;
  }

.relative{
    position: relative;
}

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between
}

.align-items{
    align-items: center;
}

.wrap{
    flex-wrap: wrap;
}

.none{
    display: none;
}

.inner-width{
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 15%;
}